debug-*.png
herramientas/_prueba-*.png
2b42421413e32f344129888bdaf44a3c.png
Christina Perri - A Thousand Years Piano & Cello Cover - The Piano Guys.mp3
assets/*-raw.png
assets/*-preview.png
assets/musica.wav
*.tmp
.DS_Store
Thumbs.db
